* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #538062;
  padding: 20px 10px;
  transition: top 0.3s;
}

.wrap-logo {
  display: flex;
  align-items: center;
 
}

header a {
  color: #212121;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  border-radius: 9px;
  margin-left: 3px; 
  margin-right: 3px; 
}

header a.logo {
  font-size: 25px;
  font-weight: bold;
}

header a:hover {
  background-color: #6FAB83;
  color: #212121;
}

header a.active {
  background-color: #6FAB83;
}

nav {
  display: flex;
  align-items: center;
  }

#logok {
  max-width: 10%; 
  height: auto;
  margin-right: 3px;
}

#mainVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

/* Add some content at the bottom of the video/page */
.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    font-size: 14px;
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    text-decoration: none;

}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.Navigat { 
    background-color:#629773;
    border-radius:21px;
    border:4px solid #538062;
    display:inline-block;
    cursor:pointer;
    color:#8affa5;
    font-family:Verdana;
    font-size:17px;
    padding: 13px 76px;
    text-decoration:none;
    margin-bottom: 3px;
    margin-top: 3px;
}
.Navigat:hover {
    background-color:#53AB62;
}
.Navigat:active {
    position:relative;
    top:1px;
}
a { text-decoration: none; }
.cont {
  background-color: #000000;
  color: #53AB62; 
  background-image: url(media/main.jpg); 
}